@tailwind base;
@tailwind components;
@tailwind utilities;

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.bg-gold {
    @apply bg-yellow-400;
    @apply text-red-600;
}

.turn-btn {
    @apply bg-yellow-600;
    @apply rounded-xl;
    @apply my-1;
    @apply px-4;
    @apply hover:bg-red-800;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

